  body {
    font-family: Inter;
}

h1, h2, h3, h4, h5, h6, ol, ul {
  font-family: Inter;
  color: var(--dark);
  font-weight: revert;
  margin: revert;
  padding: revert;

  &:hover > .hanchor {
    opacity: 1;
  }
}

p, ul, text {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--gray);
  fill: var(--gray);
  font-weight: revert;
  margin: revert;
  padding: revert;
  line-height: 1.475rem;
}

p  {
  margin-bottom: 1.5rem;
}  

ul  {
  line-height: 1.4;
}  

